*{
                box-sizing: border-box;
                font-family:  2px ‘Roboto’, Arial, Helvetica, sans-serif;
                font-size:10px;
}
.right{
    position: absolute;
    right: 120px;
    top:10px;
}

 .links{
                 margin-top: 50px;

}

.navbar-nav li{
                margin-top: 10px;
                padding-left: 30px;
                color: black;
                left: -150px;
        
} 


a{
                color: black;
                text-decoration: none;
}
.uppernav{
            background-color: black;
            color: white;
            height: 30px;
            padding-top: 10px;
            font-size: 12px;
            font-weight: bold;
           
}
.uppernav h6{
    font-size: 10px;
}


 .navbar{
            position: fixed;
            margin-bottom: 30px;
            background-image: url(../data/logo.jpg);
            background-repeat: no-repeat;
            background-position-x:120%;
            background-position-y:top;
            width: 100%;
            z-index: 10;
            background-color: white;
            color: black;
        }


.navbar form{
            position: absolute;
            top: 20px;
            right: 180px;
}
.navbar input{
         border-color: transparent transparent black;
}
.nav-brand img{
            width: 100px;
            height: 40px;
}
.dropdown-toggle::after{
            content: " ";
            border: none;
}

.dropdown-menu li{
    direction: rtl;
            top:30px;
        }
.navbar-expand-lg .navbar-nav .dropdown-menu{
    position:absolute;
    left: -180px;
    width:500px;
  margin-left: 0;

    
}

.breadcrumb{
            position: absolute;
            top:160px;
            right: 100px;
}
.first{
            margin-top: 160px;
            padding-top: 20px;
            height: 900px;
        }
.first h3{
            margin-top: 30px;
            margin-bottom: 15px;
            font-size:20px;
            font-weight: bold;
        }
.first h4{
            margin-bottom: 15px;
            font-size:22px;
            font-weight:bold ;
}
.first p{
            padding-top: 10px;
            font-size:12px;
}
.first .btn{
            background-color: black;
            color: white;
            position: absolute;
            left: 175px;
}
.first img{
            width: 350px;
            height: 300px;
}
.sideimg img{
            width: 100px;
            height: 100px;
            border: 1px solid black;
            margin-bottom: 10px;
            cursor: pointer;

}
.btn{
        background-color: black;
        color: white;
}
.secand-section{
        margin-top: -200px;
    }


.carousel{
        margin-left: 200px;
        margin-top: 40px;
}
.carousel-control-prev{
        position: absolute;
        left:-150px;
}
.carousel-control-next{
            position: absolute;
            right:10px;
}
.carousel-control-prev-icon{
    background-color: black;
    color: red;

}
.carousel-control-next-icon{
    background-color: black;

}
.card p{
    padding-top: 10px;
    margin-bottom: 40px;
}
.card{
    width: 20rem;
    margin-left:10px ;
    border-style: none;
}
.section3{
    margin-top: 80px;
    background-color: #eee;
    height: 30px;
    line-height: 30px;
    font-weight: bolder;
}
.contact{
    margin-top: 60px;
}
.contact h5{
    margin-bottom: 20px;
}
.contact p{
    margin-bottom: 25px;
}
.info{
    margin-top: 120px;
}
input{
    border-color: transparent transparent black;
}
footer{
background-color: #eee;
padding-right: 80px;
}
footer ul{
    list-style-type: none;
}
h5{
    color: black;
}
footer li {
    padding-top: 10px;
}
.secand-footer{
    height: 30px;
    background-color: white;
   margin-right: 20px;
}

/* start page 2 */
